<div class="contenedor">
    <div class="encabezado">
        <div class="titulo">
            <H1>Agregar proyecto</H1>
        </div>
        <div class="btn-cerrar">
            <img src="../../../assets/385-3850454_png-file-svg-close-button-icon-png-clipart.png" alt="">
        </div>
    </div>

    <div class="form">
        <div class="input-nombre">
            <label for="nombre">nombre proyecto</label>
            <input type="text" placeholder="ingrese nombre">
        </div>
        <div class="input-descripcion">
            <label for="descripcion">Descripcion</label>
            <input type="text" placeholder="ingrese Descripcion">
        </div>
        <div class="input-imagen">
            <label for="descripcion">Imagen</label>
            <button>seleccionar</button>
        </div>
        <div class="input-integrantes">
            <label for="descripcion">Integrantes</label>
            <input type="text" placeholder="ingrese Descripcion">
        </div>
        <div class="boton">
            <button>Guardar</button>
        </div>
    </div>
</div>